<div class="think-box-shadow">
    <table class="layui-table margin-top-10" lay-skin="line">
        <?php if(count($list)){?>
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-center nowrap'>序号</th>
            <th class='text-center nowrap'>ID</th>
            <th class='text-center nowrap'>UID</th>
            <th class='text-center nowrap'>性别</th>
            <th class='text-center nowrap'>联系方式</th>
            <th class='text-center nowrap'>出生年份</th>
            <th class='text-center nowrap'>居住地</th>
            <th class='text-center nowrap'>完善资料时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center nowrap'>{$key + 1}</td>
            <td class='text-center nowrap'>{$vo.id}</td>
            <td class='text-center nowrap'>{$vo.uid}</td>
            <td class='text-center nowrap'>{$vo.sex}</td>
            <td class='text-center nowrap'>{$vo.phone}</td>
            <td class='text-center nowrap'>{$vo.year}</td>
            <td class='text-center nowrap'>{$vo.residence}</td>
            <td class='text-center nowrap'>{$vo.create_at}</td>
        </tr>
        {/foreach}
        <?php }else{;?>
        <div class="margin-bottom-15"><h2>暂无记录</h2></div>
        <?php };?>
        </tbody>
    </table>
</div>