<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">浏览时间:</label>
            <div class="layui-input-inline margin-right-0" style="width:200px">
                 <input data-date-range name="create_time" id="create_time" value="{$Think.get.create_time|default=''}" placeholder="请选择浏览时间" class="layui-input">
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户UID</label>
            <div class="layui-input-inline margin-right-0" style="width:200px">
                 <input name="uid" value="{$Think.get.uid|default=''}" placeholder="请输入用户UID" class="layui-input">
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name = "type" class="content">
                    <option value="" selected>请选择</option>
                    {foreach ['1'=>'服务详情','2' => '筛选结果', '3' => '嘉宾资料'] as $k=>$v}
                    {if $k.'' eq $Think.get.type}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
            <button class="layui-btn layui-btn-primary layui-bg-green" data-export-list><i class="layui-icon layui-icon-export"></i> 导 出</button>
        </div>
    </form>
</fieldset>

 <script>
        window.form.render();
        $('[data-export-list]').on('click', function () {
            var create_time = $("input[name='create_time']").val();
            var uid = $("input[name='uid']").val();
            var type = $("select[name='type']").val();
            if(confirm("确定导出吗？") == false){
                return false;
            }
            window.location.href = '{:url("@")}?s=admin/qxapply/browse_export?create_time='+create_time+"&uid="+uid+"&type="+type;
        });
 </script>
