<fieldset>
    <legend>条件搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">浏览时间:</label>
            <div class="layui-input-inline margin-right-0" style="width:200px">
                 <input data-date-range name="create_time" value="{$Think.get.create_time|default=''}" placeholder="请选择浏览时间" class="layui-input">
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户UID</label>
            <div class="layui-input-inline margin-right-0" style="width:200px">
                 <input name="uid" value="{$Think.get.uid|default=''}" placeholder="请输入用户UID" class="layui-input">
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select name = "type" class="content">
                    <option value="" selected>请选择</option>
                    {foreach ['4'=>'搜索列表','5' => '服务详情'] as $k=>$v}
                    {if $k.'' eq $Think.get.type}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
         </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>
    form.render()
</script>
