{extend name='admin@main'}


{block name="content"}
<div class="think-box-shadow">
    {include file='qxapply/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-center nowrap'>发送申请时间</th>
            <th class='text-center nowrap'>用户ID</th>
            <th class='text-center nowrap'>牵线剩余次数</th>
            <th class='text-center nowrap'>用户信息</th>
            <th class='text-center nowrap'>嘉宾id</th>
            <th class='text-center nowrap'>嘉宾资料信息</th>
            <th class='text-center nowrap'>牵线状态</th>
            <th class='text-center nowrap'>拒绝原因</th>
            <th class='text-center nowrap'>申请通过时间</th>
            <th class='text-center nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center nowrap'>{$vo.create_time}</td>
            <td class='text-center nowrap'>{$vo.uid}</td>
            <td class='text-center nowrap'><span style="color:red">{$vo.pair_last_num}</span></td>
            <td class="text-center nowrap">
            <img data-tips-image style="width:60px;height:60px;border-radius:50%;" src="{$vo.headimgurl|default=''}" onerror="$(this).remove()" class="margin-right-5 text-top">
                <div class="inline-block">
                    <div>
                        昵称：<span>{$vo.nickname|default='-'}</span>,
                        性别：<span>{$vo.qj_sex}</span>
                    </div>
                    <div>
                         年龄：<span>{$vo.qj_age|default='-'}</span>,
                         年份：<span>{$vo.qj_year|default='-'}</span>
                    </div>
                    <div>
                         地区：<span>{$vo.address|default='-'}</span>
                    </div>
                </div>
            </td>
            <td class='text-center nowrap'><a href="admin.html#/index.php/admin/qxapply/find_detail?uid={$vo.bj_uid}" target="_blank">{$vo.bj_uid}</a></td>
            <td class="text-center nowrap">
            <img data-tips-image style="width:60px;height:60px;border-radius:50%;" src="{$vo.cover|default=''}" onerror="$(this).remove()" class="margin-right-5 text-top">
                <div class="inline-block">
                    <div>
                         性别：<span>{$vo.sex}</span>，
                         年份：<span>{$vo.year|default='-'}</span>，
                         身高：<span>{$vo.height|default='-'}</span>

                    </div>
                    <div>
                        学历：<span>{$vo.education|default='-'}</span>，
                        生肖：<span>{$vo.animals|default='-'}</span>，
                        年薪：<span>{$vo.salary|default='-'}</span>

                    </div>
                    <div>
                        行业：<span>{$vo.industry|default='-'}</span>，
                        居住地：<span>{$vo.current_province|default='-'}-{$vo.current_city|default='-'}</span>，
                    </div>
                </div>
            </td>
            <td class='text-center nowrap'>
                {if $vo.apply_status eq 0}申请中{/if}
                {if $vo.apply_status eq 1}<span class="color-green">牵线中</span>{/if}
                {if $vo.apply_status eq 2}<span class="color-blue" >已同意</span>{/if}
                {if $vo.apply_status eq 3}<span class="color-red"  title="{$vo.remark}">已拒绝</span>{/if}
            </td>
            <td class='text-center nowrap' title="{$vo.remark}">{$vo.remark_sub|default='-'}</td>
            <td class='text-center nowrap'>{$vo.apply_pass_time|default='-'}</td>
            <td class='text-center nowrap'>
                {if $vo.apply_status eq 0}
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确认申请通过吗？" data-action="{:url('pass')}" data-value="id#{$vo.id};apply_status#1" data-csrf="{:systoken('pass')}">通过申请</a>
                    <a data-dbclick class="layui-btn layui-btn-sm layui-bg-blue" data-confirm="确定撤销申请吗？" data-action='{:url("revokeApply")}'
                           data-csrf="{:systoken('revokeApply')}" data-value="id#{$vo.id}">撤销申请</a>
                {else/}
                    {if $vo.apply_status eq 1}
                        
                        <a data-dbclick class="layui-btn layui-btn-sm layui-bg-blue" data-confirm="确定牵线成功？" data-action='{:url("agreeApply")}'
                           data-csrf="{:systoken('agreeApply')}" data-value="id#{$vo.id}">同意</a>
                        <a data-dbclick class="layui-btn layui-btn-sm layui-btn-danger"  data-modal='{:url("refuseApply")}?id={$vo.id}'
                           data-csrf="{:systoken('refuseApply')}" data-value="id#{$vo.id}">拒绝</a>
                    {else/}
                        暂无操作
                    {/if}
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>

{/block}
