{extend name='admin@main'}


{block name="content"}
<div class="think-box-shadow">
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-center nowrap'>创建时间</th>
            <th class='text-center nowrap'>用户ID</th>
            <th class='text-center nowrap'>用户信息</th>
            <th class='text-center nowrap'>手机号</th>
            <th class='text-center nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center nowrap'>{$vo.create_time}</td>
            <td class='text-center nowrap'>{$vo.uid}</td>
            <td class="text-center nowrap">
            <img data-tips-image style="width:60px;height:60px;border-radius:50%;" src="{$vo.headimgurl|default=''}" onerror="$(this).remove()" class="margin-right-5 text-top">
                <div class="inline-block">
                    <div>昵称：<span>{$vo.nickname|default='-'}</span></div>
                    <div>性别：<span>{$vo.sex}</span>，
                         年龄：<span>{$vo.age|default='-'}</span>
                    </div>
                    <div>
                         地区：<span>{$vo.address|default='-'}</span>
                    </div>
                </div>
            </td>
            <td class='text-center nowrap'>{$vo.phone}</td>
            <td class='text-center nowrap'>
                <!-- <a class="layui-btn layui-btn-xs" data-open='{:url("edit")}?id={$vo.id}'>编 辑</a> -->
                <a class="layui-btn layui-btn-xs" data-open='{:url("detail_pay")}?uid={$vo.uid}'>详 情</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>

{/block}
