<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
         <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="日期" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item layui-inline">
            <label class="layui-form-label">接收方uid</label>
            <div class="layui-input-inline">
                <input name="uid" id='uid' value="{$Think.get.uid|default=''}" placeholder="接收方uid" class="layui-input">
            </div>
        </div>
         <div class="layui-form-item layui-inline">
            <label class="layui-form-label">推荐方uid</label>
            <div class="layui-input-inline">
                <input name="recommendid" id='recommendid' value="{$Think.get.recommendid|default=''}" placeholder="推荐方uid" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
        <label class="layui-form-label">接收方性别</label>
        <div class="layui-input-inline">
            <select name="u_sex" class="layui-select">
                <option value="">- 全部 -</option>
                {foreach ['1'=>'男','2'=>'女'] as $k=>$v}
                {if $k.'' eq $u_sex}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}
                {/foreach}
            </select>
        </div>
        </div>
        <div class="layui-form-item layui-inline">
        <label class="layui-form-label">推荐方性别</label>
        <div class="layui-input-inline">
            <select name="t_sex" class="layui-select">
                <option value="">- 全部 -</option>
                {foreach ['1'=>'男','2'=>'女'] as $k=>$v}
                {if $k.'' eq $t_sex}
                <option selected value="{$k}">{$v}</option>
                {else}
                <option value="{$k}">{$v}</option>
                {/if}
                {/foreach}
            </select>
        </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>

    </form>

</fieldset>

<script>
//     window.laydate.render({range: false, elem: '#create_time'});
     window.form.render();
</script>
