{extend name='admin@main'}


{block name="content"}
<div class="think-box-shadow">
    {include file='member/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-center nowrap'>创建时间</th>
            <th class='text-center nowrap'>用户ID</th>
            <th class='text-center nowrap'>用户信息</th>
            <th class='text-center nowrap'>备注</th>
            <th class='text-center nowrap'>电话</th>
            <!--<th class='text-center nowrap'>剩余牵线数</th>-->
            <th class='text-center nowrap'>剩余查看号码数</th>
            <th class='text-center nowrap'>邀请人(ID)</th>
            <th class='text-center nowrap'>是否实名</th>
            <th class='text-center nowrap'>操作</th>
            <th class='text-center nowrap'>是否完善资料</th>
            <th class='text-center nowrap'>被访问记录</th>
            <th class='text-center nowrap'>浏览记录</th>
            <th class='text-center nowrap'>被查看号码数
                <span class="layui-table-sort layui-inline">
                    <i class="layui-edge layui-table-sort-asc" title="升序"  data-dbclick="" data-load="{$url}&search_tel=asc"></i>
                    <i class="layui-edge layui-table-sort-desc" title="降序"  data-dbclick="" data-load="{$url}&search_tel=desc"></i>
                </span>
            </th>

            <th class='text-center nowrap'>会员</th>
            <th class='text-center nowrap'>权重分</th>
            <!--<th class='text-center nowrap'>禁用</th>-->
            <th class='text-center nowrap'>注销</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-center nowrap'>{$vo.addtime|default=0}</td>
            <td class='text-center nowrap'>{$vo.id}</td>
            <td class="text-center nowrap">
            <img data-tips-image style="width:60px;height:60px;border-radius:50%;" src="{$vo.headimgurl|default=''}" onerror="$(this).remove()" class="margin-right-5 text-top">

                <div class="inline-block">
                    <div>昵称：<span>{$vo.nickname|default='-'}</span></div>
                    <div>性别：<span>{$vo.sex}</span>，
                         年龄：<span>{$vo.age|default='-'}</span>
                    </div>
                    <div>
                         地区：<span>{$vo.address|default='-'}</span>
                    </div>

                </div>
            </td>
            <td class='text-center nowrap' title="{$vo.remarks_text}">{$vo.sub_remarks_text}</td>
            <td class='text-center nowrap'>{$vo.phone|default=''}</td>
            <!--<td class='text-center nowrap'>{$vo.pair_last_num}</td>-->
            <td class='text-center nowrap' title="查看记录" style="cursor: pointer;color: #00a0e9;" data-title="查看号码记录" data-modal='{:url("telCountInfo")}?id={$vo.id}'>{$vo.count|default=0}</td>
            <!--<td class='text-center nowrap'>{$vo.relation_id}</td>-->
            <td class='text-center nowrap'>{if !empty($vo.relation_id)}{$vo.relation_name}({$vo.relation_id}){else/}{/if}</td>
            <td class='text-center nowrap'>{if $vo.auth_status == 1}已实名{else/}未实名{/if}</td>
            <td class='text-center nowrap'>
                <a class="layui-btn layui-btn-normal layui-btn-sm" data-title="子女详情" data-modal='{:url("look")}?id={$vo.id}'>子女详情</a>
                {eq name='vo.team_status' value='1'}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="审核电话" data-modal='{:url("checkphone")}?id={$vo.id}'>审核电话</a>
                {/eq}
                {if condition="$vo.is_ban eq 1"}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要禁用该用户吗？" data-action="{:url('forbid')}" data-value="id#{$vo.cid};is_ban#0" data-csrf="{:systoken('forbid')}">禁 用</a>
                {else /}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要启用该用户吗？" data-action="{:url('resume')}" data-value="id#{$vo.cid};is_ban#0" data-csrf="{:systoken('resume')}">启 用</a>
                {/if}
                {if condition="$vo.status eq 0"}
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要激活该用户吗？" data-action="{:url('newglory')}?id={$vo.id}" data-value="id#{$vo.id};status#{$vo.status}" data-csrf="{:systoken('newglory')}">激活</a>
                {else /}
                <a class="layui-btn layui-btn-sm layui-btn-warm" data-confirm="确定要注销该用户吗？" data-action="{:url('newglory')}?id={$vo.id}" data-value="id#{$vo.id};status#{$vo.status}" data-csrf="{:systoken('newglory')}">注销</a>
                {/if}
                <a class="layui-btn layui-btn-sm" data-type="store-config-type-params" data-modal='{:url("getuserposter")}?id={$vo.id}' class='layui-btn layui-btn-sm layui-btn-primary'>获取海报</a>
            </td>
            <td class='text-center nowrap'>
                {if condition="$vo.info_status eq 1"}<span class="color-gray" style="color:red">是</span>
                {else /} <span class="color-gray">否</span>
                {/if}
            </td>
            <td class='text-center nowrap' title="被访问记录" style="cursor: pointer;color: #00a0e9;" data-title="被访问记录" data-open='{:url("infoList")}?bid={$vo.id}'>{$vo.blook_count|default=0}</td>
            <td class='text-center nowrap' title="浏览记录" style="cursor: pointer;color: #00a0e9;" data-title="浏览记录" data-open='{:url("infoList")}?uid={$vo.id}'>{$vo.look_count|default=0}</td>
            <td class='text-center nowrap' title="被查看号码数" style="cursor: pointer;color: #00a0e9;" data-title="被查看号码数" data-open='{:url("looktelList")}?bid={$vo.id}'>{$vo.look_tel}</td>

            <td class='text-center nowrap'>
                {if $vo.vip == 1}
                <span style="color:red">是</span>
                {else/}
                否
                {/if}
            </td>
            <td class='text-center nowrap'>{$vo.weight_score}</td>
            <td class='text-center nowrap'>
                {if condition="$vo.status eq 0"}<span class="color-gray" style="color:red">是</span>
                {else /} <span class="color-gray">否</span>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>

{/block}
