<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="divport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>完美亲家</title>
    <style>
        .hidden{
            display: none;
        }
    </style>
</head>

<body>
    <p id="p" class="hidden" style=text-align:center;font-size:28px;margin-top:40vh>请打开微信 搜索完美亲家</p>
    <script>
        window.location.href ="weixin://dl/business/?t=9gAlzgO5Ouu";
        let p =document.querySelector('#p');
        setTimeout(function(){
            p.removeAttribute('class');
        },3000)
    </script>
</body>

</html>