		*{margin: 0;padding: 0;}
        body{font-family:'微软雅黑 Light';background-color: #ffdb2c;}
        a{color: #333333;text-decoration:none;}
        #contenter{max-width: 640px;margin: 0 auto;height: 100%;}
        #answer{padding:0.5px 0rem 7.5rem;overflow: auto;}
        /*提问*/
        #answer .item{min-height: 3rem;justify-content:flex-start;display:flex;align-items:center;padding: 0.5rem 4rem 0.5rem 0.5rem;}
        #answer .item .avatar{width: 3em;height: 3rem;}
        #answer .item .avatar img{width: 3em;height: 3rem;border-radius: 1.5rem;}
        #answer .item .bubble{position:relative;min-height: 1.3rem;display: inline-block;background-color: #fff;border-radius: 0.4rem;margin-left:0.5rem;padding:0.5rem;line-height:1.3rem;font-size: 0.76rem;}
        #answer .item .bubble:after {content:'';position:absolute;z-index:-1;right:100%;top:0px;width:16px;height:16px;border-width:0;border-style:solid;border-color:transparent;margin-right:-9px;border-bottom-width:10px;border-bottom-color:currentColor;border-radius:0 0 0 18px;color:#fff;}
        /*回答*/
        #answer .answer_item{min-height: 3rem;display:flex;justify-content:flex-end;padding: 0.5rem 0.5rem 0.5rem 4rem;}
        #answer .answer_item .avatar{width: 3em;height: 3rem;}
        #answer .answer_item .avatar img{width: 3em;height: 3rem;border-radius: 1.5rem;}
        #answer .answer_item .bubble{position:relative;display: inline-block;background-color: #fff;border-radius: 0.4rem;margin-right:0.5rem;padding: 1rem 0.5rem;line-height:1rem;font-size: 0.76rem;}
        #answer .answer_item .bubble:after{content:'';position:absolute;z-index:-1;left:100%;top:0px;width:16px;height:16px;border-width:0;border-style:solid;border-color:transparent;margin-left:-9px;border-bottom-width:10px;border-bottom-color:currentColor;border-radius:0 0 18px 0;color:#fff;}
        #answer .answer_item .bubble .icon{width: 1.5rem;height: 1.5rem;position: absolute;z-index: 1;left: -0.5rem;top: -0.5rem;}
        #answer .answer_item .bubble .icon img{width: 1.5rem;height: 1.5rem;}
        #answer .no{line-height: 1.6rem;color:#333;font-size:0.76rem;width: 8rem;background-color: rgba(255,255,255,0.4);margin: 0.5rem auto;border-radius: 0.3rem;text-align: center;}
        /*答题按钮*/
        #btn{position: fixed;z-index: 1;left: 0;right: 0;bottom: 0rem;max-width: 640px;margin:0 auto;height: 7.5rem;display:flex;justify-content:center;align-items:center;background-color: #ffdb2c;}
        #btn #false{width: 6.6rem;height: 5.79rem;margin:0rem 0.8rem;}
        #btn #false img{width: 6.6rem;height: 5.79rem;}       
        #btn #true{width: 6.6rem;height: 5.79rem;margin:0rem 0.8rem;}
        #btn #true img{width: 6.6rem;height: 5.79rem;}
		
		#head_tips{display:none;margin: 0 auto;max-width: 640px;padding:0.4rem;background-color:#f9492b;color: #fff;font-size: 0.72rem;line-height:1.1rem;font-weight:600;position: relative;text-indent: 1.2rem;}
        #head_tips .icon{width: 1rem;height: 1rem;position: absolute;z-index: 0;left: -0.8rem;top: 0.44rem;}
        #head_tips .icon img{width: 1rem;height: 1rem;}
        #tips_full{display:none;position: fixed;z-index: 99;top:0;left:0;right:0;height:100%;max-width: 640px;margin: 0 auto;background-color: rgba(0,0,0,0.7);}
        #tips_con{display:none;width: 15rem;min-height: 8rem;background-color: #fff;position: fixed;z-index: 100;top: 33%;left: 0;right: 0;margin: 0 auto;border-radius: 0.2rem;}
        #tips_con .tips_title{line-height: 2rem;color: #f9492b;text-align: center;padding:0.8rem 0rem 0.4rem;font-size: 1.1rem;font-weight: 500;position: relative;}
        #tips_con .tips_title .tips_close{width: 3.2rem;height: 1.4rem;line-height:1.4rem;background-color: #cdcdcd;color: #333;border-radius: 0.7rem;text-align: center;font-size: 0.72rem;position: absolute;z-index: 101;top: 0.5rem;right: 0.4rem;font-weight: 200;}
        #tips_con .tips_info{padding:0.4rem 0.8rem 0.8rem;line-height: 1.6rem;color: #333;font-size: 0.88rem;}

		#head_menu{margin: 1rem;height: 2rem;}
        #head_menu .gohome{width: 4.4rem;line-height:1.8rem;font-size:0.78rem;float: left;background-color: #4d3b6d;color: #fff;text-align: center;border-radius: 1rem;}
        #head_menu .gofaq{width: 4.4rem;line-height:1.8rem;font-size:0.78rem;float: right;background-color: #4d3b6d;color: #fff;text-align: center;border-radius: 1rem;}
        /*投诉*/
		#complain{position:fixed;z-index:1000;bottom:30%;left:0;width:1.3rem;height:2rem;line-height:1rem;background-color:#fcbe12;color:#fff;text-align:center;border-radius:0rem 0.2rem 0.2rem 0rem;font-size:0.82rem;padding:0.2rem 0rem 0.1rem;font-weight:600;}
		