	
		*{margin: 0;padding: 0;}
        body{font-family:'微软雅黑 Light';background-color: #ffdb2c;}
        a{color: #333333;text-decoration:none;}
        #contenter{max-width: 640px;margin: 0 auto 3rem;}
        #head{padding: 1rem 2rem;overflow: auto;position: relative;}
		#head img{width: 100%;vertical-align: middle;}
		#head  .avatar{width: 5rem;height: 5rem;position: absolute;z-index: 0;bottom: 0rem;left:0;right:0;margin: 0 auto;}
		#head  .avatar img{width: 100%;vertical-align: middle;border-radius: 2.5rem;}
		#head  .details{height:3.6rem;position: absolute;z-index: 0;left:2.9rem;right:2.9rem;top:10rem;margin:0 auto;}
		#head  .details .info{width:50%;height:1.2rem;float:left;font-size:0.72rem;font-weight:600;color:#333; overflow:hidden; text-overflow:hidden; white-space: nowrap; }
		#head  .details .info span{font-weight:500;}
		#head  #operations{height:1.8rem;position: absolute;z-index: 0;left:2.9rem;right:2.9rem;bottom:1.6rem;margin:0 auto;display:flex;justify-content:center;align-items:center;}
		#head  #operations #info_btn{width: 4.3rem;height:1.6rem;line-height:1.6rem;margin:0rem 8%;background-color: #fe0005;color: #fff;border-radius:0.9rem;text-align:center;font-size:0.7rem;}
		#head  #operations #show_picture{width: 4.3rem;height:1.6rem;line-height:1.6rem;margin:0rem 8%;background-color: #333;color: #fff;border-radius:0.9rem;text-align:center;font-size:0.7rem;}

	   
        #fullbg{display:none;position: fixed; z-index: 10;top: 0;bottom:0;right: 0;left: 0;max-width: 640px;margin: 0 auto;height: 100%;background-color: rgba(0,0,0,0.7);}
        #info{display:none;position: fixed;overflow-y:scroll;overflow-x:hidden; z-index: 11;top: 15%;bottom:0;right: 0;left: 0;background-color: #fff;border-radius: 0.3rem;margin:0rem 2rem;height:70%;}
        #info .info{position: relative;}
        #info .info .close{width: 2rem;height: 2rem;position:fixed;z-index: 12;top: 2.6rem;right: 2.2rem; }
        #info .info .close img{width: 2rem;height: 2rem;}
        #info .title{background-color: #FF9900;color: #fff;line-height: 2.4rem;text-align: center;font-size: 0.83rem;border-radius: 0.3rem 0.3rem 0rem 0rem;}
        #info .tips{height:2.4rem;display:flex;justify-content:center;align-items:center;}
        #info .tips .i{line-height: 2.4rem;font-size: 0.71rem;color: #333;padding: 0rem 0.4rem;}
        #info .list{padding:0rem 0.8rem 0.8rem;font-size: 0.8rem;overflow-y: scroll;}
        #info .list .li{overflow:auto;border-bottom: 1px dashed #cdcdcd;padding-bottom: 0.3rem;}
        #info .list .li .q{font-size: 0.75rem;line-height: 1.4rem;}
        #info .list .li .a{font-size: 0.75rem;color: #36285b;line-height: 1rem;}
        #answerinfo{display:none;position: fixed;overflow-y:scroll;overflow-x:hidden; z-index: 11;top: 15%;bottom:0;right: 0;left: 0;background-color: #fff;border-radius: 0.3rem;margin:0rem 2rem;height:70%;}
        #answerinfo .answerinfo{position: relative;}
        #answerinfo .answerinfo .close{width: 2rem;height: 2rem;position:fixed;z-index: 12;top: 2.6rem;right: 2.2rem; }
        #answerinfo .answerinfo .close img{width: 2rem;height: 2rem;}
        #answerinfo .title{background-color: #FF9900;color: #fff;line-height: 2.4rem;text-align: center;font-size: 0.83rem;border-radius: 0.3rem 0.3rem 0rem 0rem;}
        #answerinfo .tips{height:2.4rem;display:flex;justify-content:center;align-items:center;}
        #answerinfo .tips .i{line-height: 2.4rem;font-size: 0.71rem;color: #333;padding: 0rem 0.4rem;}
        #answerinfo .list{padding:0rem 0.8rem 0.8rem;font-size: 0.8rem;overflow-y: scroll;}
        #answerinfo .list .li{overflow:auto;border-bottom: 1px dashed #cdcdcd;padding-bottom: 0.3rem;}
        #answerinfo .list .li .q{font-size: 0.75rem;line-height: 1.4rem;}
        #answerinfo .list .li .a{font-size: 0.75rem;color: #fe0005;line-height: 1rem;height:1rem;position:relative;}
		#answerinfo .list .li .a .is_right{position:absolute;z-index:12;top:0;right:0.8rem;height:1rem;width:1rem;text-align:center;line-height:1rem;color:#fe0005;font-size:0.78rem;font-weight:600;}
		#finally{margin:0rem 1rem;padding:0.5rem 0rem;}
		#finally .title{line-height: 3rem;text-align: center;color: #ffdb2c;font-size: 0.85rem;font-weight: 600;}
		#finally .title span{letter-spacing:-4px;}
		#finally .no_data{padding-bottom: 1.5rem;background-color:#fff;border-radius:0.3rem;}
		#finally .no_data .desc{line-height: 1.4rem;font-size: 0.7rem;padding:1.3rem 1rem;;color:#999;}
		#finally .no_data .createPicture{width:8rem;line-height:2rem;margin:0 auto;color:#666;border:1px #666 solid;border-radius:0.2rem;text-align: center;}font-size:0.8rem;}
		#finally .finally{padding-bottom: 1.5rem;}
        #finally .li{height: 2.6rem;position: relative;padding: 0.5rem;margin: 0.5rem 0rem;background-color: #fff;border-radius: 0.2rem;}
        #finally .li .avatar{width: 2.6rem;height: 2.6rem;position: absolute;z-index: 0;left: 0.5rem;top: 0.5rem;}
        #finally .li .avatar img{width: 2.6rem;height: 2.6rem;border-radius: 0.2rem;}
        #finally .li .redpacket{width: 5rem;height: 2rem;position: absolute;z-index: 0;right: 3rem;top: 0.5rem;padding: 0.3rem 0rem;}
        #finally .li .redpacket .r{line-height: 1rem;color: #fe0005;font-size: 0.76rem;text-align: right;font-weight:600;}
        #finally .li .redpacket .r span{font-size: 1.2rem;}
        #finally .li .redpacket .b{line-height: 1rem;color: #333;font-size: 0.7rem;text-align: right;}
        #finally .li .userinfo{padding: 0.2rem 5.5rem 0.2rem 3.2rem;height: 2.2rem;}
        #finally .li .userinfo .nickname{line-height: 1.3rem;font-size: 0.78rem;font-weight:600;color: #333;}
        #finally .li .userinfo .date{line-height: 1.3rem;font-size: 0.74rem;color: #333;}
        #finally .li .btn{height: 1.8rem;width: 2rem;box-shadow: #999 2px 2px 3px 1px;position: absolute;z-index: 0;top: 0.8rem;right: 0.5rem;background-color: #333;color: #fff;border-radius: 0.2rem;font-size: 0.72rem;text-align: center;line-height: 0.9rem;padding-top:0.2rem;}

		#finally .finally .end{text-align: center;line-height: 2.2rem;font-size: 0.84rem;color: #333;}


		#head_tips{display:none;margin: 0 auto;max-width: 640px;padding:0.4rem;background-color:#f9492b;color: #fff;font-size: 0.72rem;line-height:1.1rem;font-weight:600;position: relative;text-indent: 1.2rem;}
        #head_tips .icon{width: 1rem;height: 1rem;position: absolute;z-index: 0;left: -0.8rem;top: 0.44rem;}
        #head_tips .icon img{width: 1rem;height: 1rem;}
        #tips_full{display:none;position: fixed;z-index: 99;top:0;left:0;right:0;height:100%;max-width: 640px;margin: 0 auto;background-color: rgba(0,0,0,0.7);}
        #tips_con{display:none;width: 15rem;min-height: 8rem;background-color: #fff;position: fixed;z-index: 100;top: 33%;left: 0;right: 0;margin: 0 auto;border-radius: 0.2rem;}
        #tips_con .tips_title{line-height: 2rem;color: #f9492b;text-align: center;padding:0.8rem 0rem 0.4rem;font-size: 1.1rem;font-weight: 500;position: relative;}
        #tips_con .tips_title .tips_close{width: 3.2rem;height: 1.4rem;line-height:1.4rem;background-color: #cdcdcd;color: #333;border-radius: 0.7rem;text-align: center;font-size: 0.72rem;position: absolute;z-index: 101;top: 0.5rem;right: 0.4rem;font-weight: 200;}
        #tips_con .tips_info{padding:0.4rem 0.8rem 0.8rem;line-height: 1.6rem;color: #333;font-size: 0.88rem;}

		#more{width: 12rem;height: 2rem;line-height:2rem;text-decoration:underline;background-color: #ffdb2c;color: #333;text-align: center;margin:1rem auto;border-radius: 1rem;font-size: 0.82rem;}
		#head_menu{padding: 0rem 2rem;height:3.1rem;position: relative;}
		#head_menu  .gohome{width: 4.3rem;line-height: 1.6rem;background-color: #333;color: #fff;border-radius: 0.8rem;text-align: center;font-size: 0.7rem;position: absolute;z-index: 0;left: 1rem;top: 1rem;}
		#head_menu  .gofaq{width: 4.3rem;line-height: 1.6rem;background-color: #fe0005;color: #fff;border-radius: 0.8rem;text-align: center;font-size: 0.7rem;position: absolute;z-index: 0;right: 1rem;top:1rem;}

		#face_ad{padding:0rem 1rem;}
		#face_ad img{width:100%;vertical-align:middle;}